{% extends 'base.html' %}
{% block content %}
    <div class="container" style="height: 30px"></div>
    <div class="container">
        <div class="container" id="cv">
            <h1 id="title">Ziyi Joshua LIU</h1>
            {# basic-info #}
            <div class="basic-info section">
                <div class="set">
                    <p class="email">
                        E-mail:&nbsp;<a href="mailto:Lzy_Ecust@Outlook.com" target="_blank"
                                        style="text-decoration: none">Lzy_Ecust@Outlook.com</a>
                        <span class="dot">&sect;</span>
                        Phone: <a href="tel:+8619821122718" target="_blank"
                                  style="text-decoration: none">(086)19821122718</a></p>
                    <p class="address">
                        {# TODO Map link to amap #}
                        East China University of Science and Technology, 130 Meilong Road, Xuhui District, Shanghai,
                        China
                    </p>
                </div><!-- set //-->
                <div class="clear"></div>
            </div>
            <div class="section section-education">
                <h2 class="title">Education</h2>
                <div class="set">
                    <div class="item">
                        <h3><span class="course l">BEng Major in Intelligence and Robotics (Robotics).</span>
                            <span class="date r">Sept, 2020 &mdash; Jul, 2024</span>
                        </h3>
                        <div class="clear"></div>
                        <span class="school">East China University of Science and Technology</span>
                        <div class="info"><span><span>Relevant Courses:&nbsp;</span></span>
                            <div>
                                <ul>
                                    <li>
                                        <span><span>Mathematical Foundations for Artificial Intelligence (3.7/4.0, A-),&nbsp;</span></span>
                                    </li>
                                    <li>
                                        <span><span>Principles and Design of Embedded Systems (3.0/4.0, B),&nbsp;</span></span>
                                    </li>
                                    <li>
                                        <span><span>Pattern Learning and Machine Learning (3.3/4.0, B+),&nbsp;</span></span>
                                    </li>
                                    <li><span><span>Learning Tools and Platforms (3.7/4.0, A-),&nbsp;</span></span></li>
                                    <li><span><span>Robotics Principles and Design (2.3/4.0, C+).</span></span></li>
                                </ul>
                            </div>
                        </div>
                        <span class="clear"> </span>
                    </div>

                    <div class="item">
                        <h3><span class="course l">Mini-major Diploma Major in Computer Science and Technology</span>
                            <span class="date r">Oct, 2021 &mdash; Feb, 2023</span>
                        </h3>
                        <div class="clear"></div>
                        <span class="school">East China University of Science and Technology</span>
                        <div class="info">Relevant courses: Data Structures and Algorithms, Principles of Database
                            Systems,
                            Operating Systems, Software Engineering, Computer Networking.
                        </div>
                        <span class="clear"> </span>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="section section-work">
                <h2 class="title">Internship</h2>
                <div class="set">
                    <div class="item">
                        <h3><span class="company l">Bank of Communication Financial Technology Co,Ltd.</span>
                            <span class="date r">Dec, 2022 &mdash; Feb, 2023</span>
                        </h3>
                        <div class="clear"></div>
                        <span class="job_title">Back-end Developer</span>
                        <div class="info">
                            <ul>
                                <li>
                                    <div><span>Created an updated HRM using a low-code platform and its APIs, designed its relational database and automated the process from pre-employment to employee management.&nbsp;</span>
                                    </div>
                                </li>
                                <li>
                                    <div>Developed OCR APIs for HRM (Human Resource Management) using the OpenAPI
                                        standard,
                                        improving the efficiency and accuracy of data capture.&nbsp;
                                    </div>
                                </li>
                                <li>
                                    <div>Participated in the DevOps process for the company's supply chain and debt
                                        management
                                        platform, contributing to integration testing, compilation, deployment and test
                                        case
                                        management.
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="clear"></div>
                    </div>

                    <div class="item">
                        <h3><span class="company l">ISCAS (Institute of Software Chinese Academy of Sciences)</span>
                            <span class="date r">Apr, 2022 &mdash; Sept, 2022</span>
                        </h3>
                        <div class="clear"></div>
                        <span class="job_title">Development and Testing</span>
                        <div class="info">
                            <div>
                                <ul>
                                    <li>
                                        <div>Tested and packaged software such as Autoconf-2.13 and Pijul on the
                                            openEuler
                                            platform, ensuring compatibility and functionality within the openEuler
                                            operating
                                            system.
                                        </div>
                                    </li>
                                    <li>
                                        <div>Developed "rsensleak" partially, a document-sensitive information
                                            recognition
                                            tool
                                            based on Rust, which analyses documents and identifies sensitive information
                                            such as
                                            passwords, key tokens, and private information.
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="section section-projects">
                <h2 class="title">Academic Projects</h2>
                <div class="set">
                    <div class="item">
                        <h3><span class="special-title l">Light pollution assessment and prediction (COMAP Interdisciplinary Contest in Modelling (ICM))</span>
                            <span class="date r">Feb, 2023</span>
                        </h3>
                        <div class="clear"></div>
                        <span class="special-subtitle">
                            <span class="l">Programmer</span><span class="r"><a href="#">Github Repository</a></span>
                        </span>
                        <div class="info">
                            <div style="visibility: hidden; overflow: hidden; position: absolute; top: 0; height: 1px; width: auto; padding: 0; border: 0; margin: 0; text-align: left; text-indent: 0; text-transform: none; line-height: normal; letter-spacing: normal; word-spacing: normal;">
                                <div id="MathJax_Hidden"></div>
                            </div>
                            <div id="MathJax_Message" style="display: none;"></div>
                            <div style="visibility: hidden; overflow: hidden; position: absolute; top: 0; height: 1px; width: auto; padding: 0; border: 0; margin: 0; text-align: left; text-indent: 0; text-transform: none; line-height: normal; letter-spacing: normal; word-spacing: normal;">
                                <div id="MathJax_Hidden"></div>
                            </div>
                            <div id="MathJax_Message" style="display: none;"></div>
                            <ul>
                                <li><span>Developing a light pollution level evaluation system, utilising data related to social development, industrial levels, and ecological conditions as evaluation variables.&nbsp;</span></font>
                                </li>
                                <li><span>Collecting, cleaning and mining historical data in eight different eastern and western United States regions, and the data extracted from satellite remote sensing maps and GIS information as criteria for current light pollution levels. Fitting them to conduct the evaluation index parameters.&nbsp;</span></font>
                                </li>
                                <li><span>Using both subjective and objective evaluation methods, including individual evaluations using DEMATEL and network analysis (ANP). And using multiple regression analysis for accurate testing and assessment.</span></font>
                                </li>
                            </ul>
                            <div id="MathJax_Message" style="display: none;"></div>
                            <div style="position: absolute; width: 0; height: 0; overflow: hidden; padding: 0; border: 0; margin: 0;">
                                <div id="MathJax_Font_Test"
                                     style="position: absolute; visibility: hidden; top: 0; left: 0; width: auto; padding: 0; border: 0; margin: 0; white-space: nowrap; text-align: left; text-indent: 0; text-transform: none; line-height: normal; letter-spacing: normal; word-spacing: normal; font-size: 40px; font-weight: normal; font-style: normal; font-family: MathJax_Main, sans-serif;"></div>
                            </div>
                            <script type="text/javascript"
                                    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML&amp;delayStartupUntil=configured"></script>
                            <script id="texAllTheThingsPageScript" type="text/javascript"
                                    src="chrome-extension://cbimabofgmfdkicghcadidpemeenbffn/js/pageScript.js"
                                    inlinemath="[[&quot;$&quot;,&quot;$&quot;],[&quot;[;&quot;,&quot;;]&quot;]]"
                                    displaymath="[[&quot;$$&quot;,&quot;$$&quot;],[&quot;\\[&quot;,&quot;\\]&quot;]]"
                                    skiptags="[&quot;script&quot;,&quot;noscript&quot;,&quot;style&quot;,&quot;textarea&quot;,&quot;pre&quot;,&quot;code&quot;]"
                                    ignoreclass="false" processclass="false"></script>
                            <div style="position: absolute; width: 0; height: 0; overflow: hidden; padding: 0; border: 0; margin: 0;">
                                <div id="MathJax_Font_Test"
                                     style="position: absolute; visibility: hidden; top: 0; left: 0; width: auto; padding: 0; border: 0; margin: 0; white-space: nowrap; text-align: left; text-indent: 0; text-transform: none; line-height: normal; letter-spacing: normal; word-spacing: normal; font-size: 40px; font-weight: normal; font-style: normal; font-family: MathJax_Main, sans-serif;"></div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>

                    <div class="item">
                        <h3><span class="special-title l">Time Series Based Climate Prediction and Attribution Analysis (APMCM Mathematical Modeling Contest)</span>
                            <span class="date r">Dec, 2022</span>
                        </h3>
                        <div class="clear"></div>
                        <span class="special-subtitle">
                            <span class="l">Programmer</span><span class="r"><a href="#">Github Repository</a></span>
                        </span>
                        <div class="info">
                            <div style="visibility: hidden; overflow: hidden; position: absolute; top: 0; height: 1px; width: auto; padding: 0; border: 0; margin: 0; text-align: left; text-indent: 0; text-transform: none; line-height: normal; letter-spacing: normal; word-spacing: normal;">
                                <div id="MathJax_Hidden"></div>
                            </div>
                            <div id="MathJax_Message" style="display: none;"></div>
                            <div style="visibility: hidden; overflow: hidden; position: absolute; top: 0; height: 1px; width: auto; padding: 0; border: 0; margin: 0; text-align: left; text-indent: 0; text-transform: none; line-height: normal; letter-spacing: normal; word-spacing: normal;">
                                <div id="MathJax_Hidden"></div>
                            </div>
                            <div id="MathJax_Message" style="display: none;"></div>
                            <ul>
                                <li><span>Built ARIMA and XGboost model to predict global temperature rise, found temperature will reach 20°C in 2048.&nbsp;</span></font>
                                </li>
                                <li><span>Conducted hypothesis testing and got a 97.6872% probability to reject the assumption of no abnormal rise in March 2022 due to the potential effect of the global epidemic.&nbsp;</span></font>
                                </li>
                                <li><span>Used PC algorithm and DTW to attribute temperature change to human activities dominating natural factors.</span></font>
                                </li>
                            </ul>
                            <div style="position: absolute; width: 0; height: 0; overflow: hidden; padding: 0; border: 0; margin: 0;">
                                <div id="MathJax_Font_Test"
                                     style="position: absolute; visibility: hidden; top: 0; left: 0; width: auto; padding: 0; border: 0; margin: 0; white-space: nowrap; text-align: left; text-indent: 0; text-transform: none; line-height: normal; letter-spacing: normal; word-spacing: normal; font-size: 40px; font-weight: normal; font-style: normal; font-family: MathJax_Main, sans-serif;"></div>
                            </div>
                            <script type="text/javascript"
                                    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML&amp;delayStartupUntil=configured"></script>
                            <script id="texAllTheThingsPageScript" type="text/javascript"
                                    src="chrome-extension://cbimabofgmfdkicghcadidpemeenbffn/js/pageScript.js"
                                    inlinemath="[[&quot;$&quot;,&quot;$&quot;],[&quot;[;&quot;,&quot;;]&quot;]]"
                                    displaymath="[[&quot;$$&quot;,&quot;$$&quot;],[&quot;\\[&quot;,&quot;\\]&quot;]]"
                                    skiptags="[&quot;script&quot;,&quot;noscript&quot;,&quot;style&quot;,&quot;textarea&quot;,&quot;pre&quot;,&quot;code&quot;]"
                                    ignoreclass="false" processclass="false"></script>
                            <div style="position: absolute; width: 0; height: 0; overflow: hidden; padding: 0; border: 0; margin: 0;">
                                <div id="MathJax_Font_Test"
                                     style="position: absolute; visibility: hidden; top: 0; left: 0; width: auto; padding: 0; border: 0; margin: 0; white-space: nowrap; text-align: left; text-indent: 0; text-transform: none; line-height: normal; letter-spacing: normal; word-spacing: normal; font-size: 40px; font-weight: normal; font-style: normal; font-family: MathJax_Main, sans-serif;"></div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>

                    <div class="item">
                        <h3><span class="special-title l">Signal base station siting problem (MathorCup Mathematical Modeling Program)</span>
                            <span class="date r">Apr, 2022</span>
                        </h3>
                        <div class="clear"></div>
                        <span class="special-subtitle">
                            <span class="l">Programmer</span><span class="r"><a href="#">Github Repository</a></span>
                        </span>
                        <div class="info">
                            <div style="visibility: hidden; overflow: hidden; position: absolute; top: 0; height: 1px; width: auto; padding: 0; border: 0; margin: 0; text-align: left; text-indent: 0; text-transform: none; line-height: normal; letter-spacing: normal; word-spacing: normal;">
                                <div id="MathJax_Hidden"></div>
                            </div>
                            <div id="MathJax_Message" style="display: none;"></div>
                            <div id="MathJax_Message" style="display: none;"></div>
                            <ul>
                                <li><span>Implemented a particle swarm optimization model with additional coordinates as guide terms for central base station planning using K-Means clustering and incorporated coordinates based on greedy thinking for branch base station planning. I enhanced signal base station optimization by partitioning map outliers.&nbsp;</span></font>
                                </li>
                                <li><span>Refined base station coverage boundary into three principal directions, calculating coverage using an approximation of a circle of equal area. The line connecting the base station centre and the circle determined the main direction of signal emission.&nbsp;</span></font>
                                </li>
                                <li><span>The improved PSO demonstrated faster convergence and higher accuracy, with final model parameters extracted with an error of less than 2%, outperforming the traditional BOKM algorithm.</span></font>
                                </li>
                            </ul>
                            <script type="text/javascript"
                                    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML&amp;delayStartupUntil=configured"></script>
                            <script id="texAllTheThingsPageScript" type="text/javascript"
                                    src="chrome-extension://cbimabofgmfdkicghcadidpemeenbffn/js/pageScript.js"
                                    inlinemath="[[&quot;$&quot;,&quot;$&quot;],[&quot;[;&quot;,&quot;;]&quot;]]"
                                    displaymath="[[&quot;$$&quot;,&quot;$$&quot;],[&quot;\\[&quot;,&quot;\\]&quot;]]"
                                    skiptags="[&quot;script&quot;,&quot;noscript&quot;,&quot;style&quot;,&quot;textarea&quot;,&quot;pre&quot;,&quot;code&quot;]"
                                    ignoreclass="false" processclass="false"></script>
                            <div style="position: absolute; width: 0; height: 0; overflow: hidden; padding: 0; border: 0; margin: 0;">
                                <div id="MathJax_Font_Test"
                                     style="position: absolute; visibility: hidden; top: 0; left: 0; width: auto; padding: 0; border: 0; margin: 0; white-space: nowrap; text-align: left; text-indent: 0; text-transform: none; line-height: normal; letter-spacing: normal; word-spacing: normal; font-size: 40px; font-weight: normal; font-style: normal; font-family: MathJax_Main, sans-serif;"></div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>

                    <div class="item">
                        <h3><span
                                class="special-title l">Speech-Recognition-Based Mechanical System for Lift Control</span>
                            <span class="date r">Apr, 2021 &mdash; Jun, 2021</span>
                        </h3>
                        <div class="clear"></div>
                        <span class="special-subtitle">
                            <span class="l">Software Developer and Tester</span><span class="r"><a href="#">Github Repository</a></span>
                        </span>
                        <div class="info">
                            <div style="visibility: hidden; overflow: hidden; position: absolute; top: 0; height: 1px; width: auto; padding: 0; border: 0; margin: 0; text-align: left; text-indent: 0; text-transform: none; line-height: normal; letter-spacing: normal; word-spacing: normal;">
                                <div id="MathJax_Hidden"></div>
                            </div>
                            <div id="MathJax_Message" style="display: none;"></div>
                            <div id="MathJax_Message" style="display: none;"></div>
                            <ul>
                                <li><span>Developed a Raspberry Pi-based lift control mechanism, utilizing stepper motors, magnetic switches, and Huawei's voice recognition API for contactless operations during pandemics.&nbsp;</span></font>
                                </li>
                                <li><span>This Python-controlled innovation secured the second prize at the 10th Shanghai City University Students Mechanical Engineering Innovation Contest.</span></font>
                                </li>
                            </ul>
                            <script type="text/javascript"
                                    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML&amp;delayStartupUntil=configured"></script>
                            <script id="texAllTheThingsPageScript" type="text/javascript"
                                    src="chrome-extension://cbimabofgmfdkicghcadidpemeenbffn/js/pageScript.js"
                                    inlinemath="[[&quot;$&quot;,&quot;$&quot;],[&quot;[;&quot;,&quot;;]&quot;]]"
                                    displaymath="[[&quot;$$&quot;,&quot;$$&quot;],[&quot;\\[&quot;,&quot;\\]&quot;]]"
                                    skiptags="[&quot;script&quot;,&quot;noscript&quot;,&quot;style&quot;,&quot;textarea&quot;,&quot;pre&quot;,&quot;code&quot;]"
                                    ignoreclass="false" processclass="false"></script>
                            <div style="position: absolute; width: 0; height: 0; overflow: hidden; padding: 0; border: 0; margin: 0;">
                                <div id="MathJax_Font_Test"
                                     style="position: absolute; visibility: hidden; top: 0; left: 0; width: auto; padding: 0; border: 0; margin: 0; white-space: nowrap; text-align: left; text-indent: 0; text-transform: none; line-height: normal; letter-spacing: normal; word-spacing: normal; font-size: 40px; font-weight: normal; font-style: normal; font-family: MathJax_Main, sans-serif;"></div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="section section-qualifications">
                <h2 class="title">Reward and Certificates</h2>
                <div class="set">
                    <div class="item">
                        <span class="info"><ul>
                                <li><span><span>The Shanghai College Information Technology Level Examination in Big Data and Cloud Computing, Level 4 (Highest Level).</span></span></li>
                                <li><span><span>Successful Participant in COMAP Interdisciplinary Contest in Modelling (ICM)</span></span></li>
                                <li><span><span>Successful Participant in Asia and Pacific Mathematical Contest in Modeling</span></span></li>
                                <li><span><span>The Shanghai College Information Technology Level Examination in C Programming and Application, Level 3 (Highest Level)</span></span></li>
                                <li><span><span>Huawei "Smart Base" Outstanding Student Scholarship (Level B, selection rate 1%)</span></span></li>
                                <li><span><span>The Second Prize in 10th University Students Mechanical Engineering Innovation Contest, Shanghai</span></span></li>
                            </ul></span>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <style>
        main {
            font-family: Georgia, serif, 'Trebuchet MS';
            line-height: 20px;
            font-size: 12px;
            color: #222;
        }

        h1, h2, h3, h4 {
            margin: 0 0 15px 0;
            padding: 0;
        }

        h1 {
            font-size: 400%;
        }

        h2 {
            font-size: 210%;
        }

        h3 {
            font-size: 130%;
        }

        p {
            margin: 0 0 10px 0;
        }

        ul {
            list-style-type: circle;
        }

        li {
            margin-bottom: 5px;
        }

        a {
            color: #222;
        }

        /* ________________________________________________________ */
        .rtl {
            direction: rtl;
        }

        .clear {
            clear: both;
        }

        #main {
            background: #fff;
            width: 900px;
            padding: 35px;
            margin: 0 auto 15px auto;
            overflow: hidden;

            box-shadow: 0 0 6px #ccc;
        }

        #title {
            line-height: 42px;
            margin: 0 0 15px 0;
            font-weight: normal;
            text-align: center;
        }

        #credit {
            margin-bottom: 20px;
            font-size: 11px;
            color: #999;
            text-align: center;
        }

        #credit a {
            color: #999;
        }

        p label {
            font-weight: bold;

            font-size: 110%;
            margin-right: 10px;
        }

        p label span.colon {
            display: inline;
        }


        .section {
            margin-bottom: 30px;
        }

        .item {
            margin: 0 0 20px 0;
            padding: 0 2ch 0 2ch;
        }

        /*  _____________________________ */
        .basic-info {
            margin: 0 auto 30px auto;
            width: 80%;
            overflow: hidden;
            text-align: center;
        }

        .basic-info p {
            margin: 0;
        }

        .basic-info .dot {
            display: inline;
            font-size: 14px;
            margin: 0 10px;
        }

        .section .title {
            text-transform: uppercase;
            font-size: 150%;
            text-align: center;
            border-bottom: 1px solid #ccc;
            padding-bottom: 10px;
        }

        .section .set h3 {
            margin: 0;
        }

        .section span.value {
            display: block;
        }

        .section h3 span.l {
            width: 75%;
            float: left;
        }

        .section span.r {
            width: 25%;
            float: left;
        }

        .section span.r {
            float: right;
            text-align: right;
        }

        div.info, span.info {
            margin-left: auto;
            margin-right: auto;
        }

        .section ul li div,
        .section ul li span {
            font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, serif;
            font-size: 14px;
            text-align: justify;
        }

        .special-subtitle,
        .section-education .school,
        .section-work .job_title {
            font-size: 120%;
            display: block;
            margin: 5px 0 5px 0;
            font-style: italic;
        }

        /* ___ photo ___ */
        #photo {
            width: 160px;
            height: 200px;
            overflow: hidden;
            float: left;
            margin-top: 8px;
            border-radius: 4px;
        }

        #photo img {
            width: 100%;
            height: auto;
        }

        .header.photo {
            margin-left: 190px;
        }

        .header.photo #title {
            text-align: left;
        }

        .header.photo .basic-info {
            float: none;
            padding: 0;
            width: auto;
            text-align: left;
        }

        @media screen and (max-width: 950px) {
            #main {
                box-shadow: none;
                padding: 0;
                padding: 5px;
            }
        }
    </style>
{% endblock %}
