{% extends 'base.html' %}

{% block content %}
<!-- Sign In/Sign Up Form -->
<div class="container my-5">
    <h1 class="text-center">Sign In/Sign Up</h1>
    <form>
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password">
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="rememberMe">
            <label class="form-check-label" for="rememberMe">Remember me</label>
        </div>
        <button type="submit" class="btn btn-primary">Sign In</button>
        <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
</div>
{% endblock %}
