alembic==1.9.3
brotlipy==0.7.0
Flask-Ext==0.1
Flask-Migrate==4.0.4
Flask-MySQLdb==1.0.1
Flask-SQLAlchemy==3.0.3
Flask-WTF==1.1.1
greenlet==2.0.2
Mako==1.2.4
mysqlclient==2.1.1
SQLAlchemy==2.0.3
wincertstore==0.2