@font-face {
  font-family: "HarmonyOS", SanSerif;
  src: url("../fonts/HarmonyOS/HarmonyOS_Sans_Black.ttf");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "HarmonyOS", SanSerif;
  src: url("../fonts/HarmonyOS/HarmonyOS_Sans_Bold.ttf");
  font-weight: bold; //700
  font-style: normal;
}

@font-face {
  font-family: "HarmonyOS", SanSerif;
  src: url("../fonts/HarmonyOS/HarmonyOS_Sans_Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "HarmonyOS", SanSerif;
  src: url("../fonts/HarmonyOS/HarmonyOS_Sans_Regular.ttf");
  font-weight: normal; //400
  font-style: normal;
}

@font-face {
  font-family: "HarmonyOS", SansSerif;
  src: url("../fonts/HarmonyOS/HarmonyOS_Sans_Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "HarmonyOS", SansSerif;
  src: url("../fonts/HarmonyOS/HarmonyOS_Sans_Thin.ttf");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "HarmonyOS-Italic";
  src: url("../fonts/HarmonyOS/HarmonyOS_Sans_Black_Italic.ttf");
  src: url("../fonts/HarmonyOS/HarmonyOS_Sans_Bold_Italic.ttf");
  src: url("../fonts/HarmonyOS/HarmonyOS_Sans_Italic.ttf");
  src: url("../fonts/HarmonyOS/HarmonyOS_Sans_Medium_Italic.ttf");
  src: url("../fonts/HarmonyOS/HarmonyOS_Sans_Light_Italic.ttf");
  src: url("../fonts/HarmonyOS/HarmonyOS_Sans_Thin_Italic.ttf");
  font-style: italic;
}

@font-face {
  font-family: "HandPurisa";
  src: url("../fonts/tlwg/Purisa.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HandPurisa";
  src: url("../fonts/tlwg/Purisa-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "HandPurisa";
  src: url("../fonts/tlwg/Purisa-Oblique.ttf");
  font-weight: normal;
  font-style: oblique;
}

@font-face {
  font-family: "HandPurisa";
  src: url("../fonts/tlwg/Purisa-BoldOblique.ttf");
  font-weight: bold;
  font-style: oblique;
}

$white: #f2f2f2 !default;
// scss-docs-start color-variables
$blue: #0d6efd !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #d63384 !default;
$red: #983928 !default;
$orange: #f49503 !default;
$yellow: #fed300 !default;
$green: #146654 !default;
$teal: #20c997 !default;
$cyan: #3c7699 !default;
// scss-docs-end color-variables
// scss-docs-start color-map
$colors: (
        "blue": $blue,
        "indigo": $indigo,
        "purple": $purple,
        "pink": $pink,
        "red": $red,
        "orange": $orange,
        "yellow": $yellow,
        "green": $green,
        "teal": $teal,
        "cyan": $cyan,
) !default;
// scss-docs-end color-map
// scss-docs-start theme-color-variables
$primary: #1f3b54 !default;
$secondary: #a55d51 !default;
$secondary: #bdd0ca !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: #f2f2f2 !default;
$dark: #000000 !default;
// scss-docs-end theme-color-variables
// scss-docs-start theme-color-map
$theme-colors: (
        "primary": $primary,
        "secondary": $secondary,
        "success": $success,
        "info": $info,
        "warning": $warning,
        "danger": $danger,
        "light": $light,
        "dark": $dark,
) !default;
// scss-docs-end theme-color-map
$body-bg: #e3d1c6 !default;
html {
  background: $body-bg;
  font-family: "HarmonyOS", SansSerif, sans-serif;
  z-index: 0;
}

body {
  z-index: 5;
  background-color: $light;
}

.y-border {
  position: fixed;
  left: 0;
  width: 100vw;
  height: 2vmin;
  background-color: $body-bg;
  z-index: 10;
  display: none;
  @media (min-width: 768px) {
    display: block;
  }
}


main, footer {
  background-color: $light;
  font-family: "HarmonyOS", serif;
}


header.at-top {
  background: $light;
}

header.title {
  font-size: x-large;
}

footer {
  //font size change by screen size
  font-size: 10pt;
  //~font-size: 0.4em;
  //~@media (min-width: 768px) {
  //~  font-size: 0.8em;
  //~}
}

.nav-link {
  font-size: 1.2rch;
  // draw  hover
}

.pre-description {
  background-color: $light;
}

@import "../node_modules/bootstrap/scss/bootstrap";

@import "../node_modules/@fortawesome/fontawesome-free/scss/brands";
@import "../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "../node_modules/@fortawesome/fontawesome-free/scss/regular";
@import "../node_modules/@fortawesome/fontawesome-free/scss/solid";
@import "../node_modules/@fortawesome/fontawesome-free/scss/v4-shims";