{% extends 'base.html' %}

{% block content %}
<!-- Blog Posts -->
<div class="container my-5">
    <h1 class="text-center">Recent Posts</h1>
    <div class="card my-3">
        <div class="card-header">
            <h2>How to Use Flask to Build a Web Application</h2>
        </div>
        <div class="card-body">
            <p>Flask is a popular micro framework for Python that can be used to build web applications. In this
                tutorial, we will learn how to set up a development environment, create a new Flask project, and build a
                simple web page.</p>
        </div>
    </div>
    <div class="card my-3">
        <div class="card-header">
            <h2>Data Analysis with Python Pandas</h2>
        </div>
        <div class="card-body">
            <p>Pandas is a powerful data analysis library for Python that can be used to perform a wide range of data
                analysis tasks. In this tutorial, we will learn how to import data, clean and preprocess data, and
                perform basic data analysis using Pandas.</p>
        </div>
    </div>
    <div class="card my-3">
        <div class="card-header">
            <h2>Introduction to Artificial Intelligence</h2>
        </div>
        <div class="card-body">
            <p>Artificial Intelligence is a rapidly growing field that aims to create intelligent machines that can
                perform tasks that typically require human intelligence. In this tutorial, we will learn about the
                different branches of AI, such as machine learning and computer vision, and how they are used to solve
                real-world problems.</p>
        </div>
    </div>
</div>
{% endblock %}