{% extends "base.html" %}

{% block content %}
    <div class="d-flex flex-fill">
        <div class="container mt-auto">
            <div class="d-flex flex-wrap align-items-center justify-content-stretch" style="font-size: x-large;">
                {% if msg_sent %}
                    <div class="d-flex flex-fill flex-column mt-4 p-4 justify-content-center">
                        <div class="col-12">
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                <div class="container"><strong>{{ _("Thank you for your message!") }}</strong>&nbsp;
                                </div>
                                <div class="container">{{ _("I will get back to you as soon as possible.") }}</div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="d-flex flex-fill flex-row flex-column mt-4 p-4" style="min-width: 50%">
                        {# Various language for "Say Hello!" #}
                        <div class="container">
                            <span>{{ _("Why not E-mailing me to say") }}</span>
                            <div class="d-inline" id="hello"></div>
                        </div>
                        {# Additional information #}
                        <div class="container">
                            {{ _("<span>Or you can find me on</span>
                                <div class='d-inline' id='social'></div>
                                <span>as well!</span>") }}
                        </div>
                    </div>
                    {#Forms and submit#}
                    <div class="d-flex flex-fill flex-row flex-column mt-4 align-content-around justify-content-center mt-4 p-4"
                         style="min-width: 50%">
                        {# Form for entries: Name, Email#}
                        <div class="container">
                            <form action="{{ url_for('main.contact_page') }}" method="POST">
                                {{ form.csrf_token }}
                                <div class="row">
                                    <div class="col form-group my-4">
                                        {{ form.name(type="text", class="form-control", id="name", placeholder="Your preferred name?", required=True) }}
                                    </div>
                                    <div class="col form-group my-4">
                                        {#<input type="email" class="form-control" id="email" name="email"#}
                                        {#placeholder="Where can I reach you via email?" required>#}
                                        {{ form.email(type="email", class="form-control", id="email",placeholder="Where can I reach you via email?", required=True) }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col form-group my-4 position-relative">
                                        {#<textarea class="form-control" id="message" name="message" rows="5" required#}
                                        {#placeholder="Plz feel free to send whatever you want to talk with me!"></textarea>#}
                                        {{ form.message(class="form-control", id="message", rows="5", required=True,
                                        placeholder="Plz feel free to send whatever you want to talk with me!") }}
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <button type="submit" class="col my-4 btn btn-secondary">{{ _("Say Hello")}}</button>
                                </div>
                            </form>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <style type="text/css">
        {#//Redefine form styles#}
        .form-control {
            border: 0;
            border-bottom: #bdd0ca 2px solid;
            border-radius: 0;
            background-color: #f2f2f2;
            color: #333;
        }

        .form-control:focus {
            border: 0;
            border-bottom: #bdd0ca 2px solid;
            border-radius: 0;
            background-color: #ffffff;
            color: #333;
            box-shadow: none;
        }

        textarea.form-control {
            height: 100px;
            line-height: 20px;
            background: repeating-linear-gradient(
                    #bdd0ca 1px,
                    #bdd0ca 20px,
                    {##bdd0ca 1px,#}
                    {##bdd0ca 1px#}
            );
            color: #333;
        }
    </style>
    <script>
        // use typewriter animation loop to change text letter by letter
        let word_i = 0;
        let letter_i = 0;
        let currentWord = '';
        let isDeleting = false;
        let isEnd = true;
        let questBool1 = true;
        let questBool2 = true;
        // Define an array of languages for "HELLO"
        const helloList = ["Hello"/*English*/, "你好"/*Chinese*/, "नमस्ते"/*Hindi*/, "مرحبًا"/*Arabic*/,
            "Bonjour"/*French*/, "Hej" /*Swedish*/, "Ciao"/*Italian*/, "Hola"/*Spanish*/, "Guten Tag" /*German*/,
            "Olá" /*Portuguese*/, "안녕하세요"/*Korean*/, "Привет" /*Russian*/, "ہیلو"/*Urdu*/, "Halló" /*Icelandic*/,
            "こんにちは"/*Japanese*/, "Hallå"/*Swedish*/, "สวัสดี"/*Thai*/];
        // Get the hello element by its ID
        const caretElement = '<span id="caret">{{_("&nbsp;&quest;")}}</span>';
        const helloElement = document.getElementById('hello');
        setInterval(typeText, 250, helloList, helloElement);

        // Typewriter effect
        function typeText(text_list, target) {
            if (isEnd) {// traverse words in list
                word_i = (word_i === text_list.length - 1) ? 0 : word_i + 1;
                letter_i = 0;
                currentWord = text_list[word_i];
                isDeleting = false;
                isEnd = false;
            }
            if (letter_i < currentWord.length && !isDeleting) {
                letter_i++;
            } else if (isDeleting && letter_i !== 0) {
                letter_i--;
            } else if (isDeleting && letter_i === 0) {
                isEnd = true;
            } else if (!isDeleting) {
                // Pause for 0.5s-1s
                setTimeout(function () {
                    isDeleting = true;
                }, Math.random() * 2000 + 1500);
            }
            if (questBool1 && questBool2) {
                target.innerHTML = currentWord.slice(0, letter_i) + caretElement;
                questBool1 = false;
            } else if (!questBool1 && questBool2) {
                target.innerHTML = currentWord.slice(0, letter_i) + caretElement;
                questBool2 = false;
            } else if (!questBool1 && !questBool2) {
                target.innerHTML = currentWord.slice(0, letter_i);
                questBool1 = true;
            } else if (questBool1 && !questBool2) {
                target.innerHTML = currentWord.slice(0, letter_i);
                questBool2 = true;
            }
        }
    </script>
{% endblock %}