{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid d-flex m-0 p-0" style="height: 50px;">
        <div class="save_tag">
            {# A fixed arrow img #}
            <img src="{{ url_for('static', filename='img/arrow1.png') }}" alt="arrow" class="arrow"
                 style=" width: 40px; height: 40px;transform: rotate(180deg);">
            {# Notice word #}
            <span style="position: relative; top: -20px">{{ _("Click to Save PDF~") }}</span>
        </div>
    </div>
    {# Set the element in it align to center horizontally #}
    <div class="container cv">
        <h1 id="title" type="button" data-bs-toggle="modal" data-bs-target="#myModal">{{ _("Ziyi Ziyi LIU") }}</h1>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content" style="z-index: 5000">
                    <div class="modal-header">
                        <h2 class="modal-title" id="myModalLabel">{{ _("CV/Résumé PDF Downloader") }}</h2>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h4>{{ _("Please choose the version you want!") }}</h4>
                        <div class="d-flex flex-wrap" style="font-size: large">
                            <span class="mx-2 my-3 flex-inline">
                                <a style="text-decoration: none" target="_blank"
                                   href="{{ url_for('static', filename='files/CVen.pdf') }}">English&nbsp;Academic&nbsp;CV</a>
                            </span>
                            <span class="mx-2 my-3 flex-inline">
                                <a style="text-decoration: none" target="_blank"
                                   href="{{ url_for('static', filename='files/resume_en.pdf') }}">English&nbsp;Résumé</a>
                            </span>
                            <span class="mx-2 my-3 flex-inline">
                                <a style="text-decoration: none" target="_blank"
                                   href="{{ url_for('static', filename='files/CVcn.pdf') }}">中文学术&nbsp;CV</a>
                            </span>
                            <span class="mx-2 my-3 flex-inline">
                                <a style="text-decoration: none" target="_blank"
                                   href="{{ url_for('static', filename='files/resume_cn.pdf') }}">中文简历</a>
                            </span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        {# Close modal button #}
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close">
                            {{ _("Close") }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="basic-info section">
            <div class="set">
                <p class="email">E-mail: <a href="mailto:lzy_ecust@outlook.com" style="text-decoration: none">lzy_ecust@outlook.com</a>
                    <span class="dot">&sect;</span>Phone: (086)19821122718 </p>
                <p class="address">
                    {{ _("East China University of Science and Technology, Meilong Rd., Xuhui District, Shanghai, China") }}
                </p>
                <div class="clear"></div>
            </div><!-- set //-->
            <div class="clear"></div>
        </div><!-- basic-info //-->
        <div class="section section-education">
            <h2 class="title">{{ _("Education") }}</h2>
            <div class="set">
                <div class="item">
                    <h3><span class="course l">{{ _("East China University of Science and Technology") }}</span>
                        <span class="date r">{{ _("Sept, 2020") }} &mdash; {{ _("Jul, 2024") }}</span>
                    </h3>
                    <div class="clear"></div>
                    <span class="school">{{ _("BEng Major in Intelligence and Robotics (Robotics).") }}</span>
                    <div class="info"><span>{{ _("Relevant Courses:") }} </span>
                        <div>
                            <ul>
                                <li>
                                    <span>{{ _("Mathematical Foundations for Artificial Intelligence") }} (3.7/4.0, A-), </span>
                                </li>
                                <li><span>{{ _("Principles and Design of Embedded Systems") }} (3.0/4.0, B), </span>
                                </li>
                                <li><span>{{ _("Pattern Learning and Machine Learning") }} (3.3/4.0, B+), </span></li>
                                <li><span>{{ _("Machine Learning Tools and Platforms") }} (3.7/4.0, A-), </span></li>
                                <li><span>{{ _("Robotics Principles and Design") }} (2.3/4.0, C+), </span></li>
                                <li><span>{{ _("Computer Graphic") }} (3.7/4.0, A-).</span></li>
                            </ul>
                            </ul>
                        </div>
                    </div>
                    <span class="clear"> </span>
                </div>

                <div class="item">
                    <h3><span
                            class="course l">{{ _("East China University of Science and Technology") }}</span>
                        <span class="date r">{{ _("Oct, 2021") }} &mdash; {{ _("Feb, 2023") }}</span>
                    </h3>
                    <div class="clear"></div>
                    <span class="school">{{ _("Mini-major Diploma Major in Computer Science and Technology") }}</span>
                    <div class="info">{{ _("Relevant courses:") }} {{ _("Data Structures and Algorithms, Principles of Database Systems, Operating Systems, Software Engineering, Computer Networking.") }}
                    </div>
                    <span class="clear"> </span>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="section section-work">
            <h2 class="title">{{ _("Internship") }}</h2>
            <div class="set">
                <div class="item">
                    <h3><span class="company l">{{ _("Bank of Communication Financial Technology Co,Ltd.") }}</span>
                        <span class="date r">{{ _("Dec, 2022") }} &mdash; {{ _("Feb, 2023") }}</span>
                    </h3>
                    <div class="clear"></div>
                    <span class="job_title">{{ _("Back-end Developer") }}</span>
                    <div class="info">
                        <ul>
                            <li>
                                <div>
                                    <span>{{ _("Created an updated HRM using a low-code platform and its APIs, designed its relational database and automated the process from pre-employment to employee management.") }} </span>
                                </div>
                            </li>
                            <li>
                                <div>{{ _("Developed OCR APIs for HRM (Human Resource Management) using the OpenAPI standard, improving the efficiency and accuracy of data capture.") }} 
                                </div>
                            </li>
                            <li>
                                <div>{{ _("Participated in the DevOps process for the company's supply chain and debt management platform, contributing to integration testing, compilation, deployment and test case management.") }}
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="item">
                    <h3><span
                            class="company l">{{ _("ISCAS (Institute of Software Chinese Academy of Sciences)") }}</span>
                        <span class="date r">{{ _("Apr, 2022") }} &mdash; {{ _("Sept, 2022") }}</span>
                    </h3>
                    <div class="clear"></div>
                    <span class="job_title">{{ _("Development and Testing") }}</span>
                    <div class="info">
                        <div>
                            <ul>
                                <li>
                                    <div>{{ _("Tested and packaged software such as Autoconf-2.13 and Pijul on the openEuler platform, ensuring compatibility and functionality within the openEuler operating system.") }}
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        {{ _("Developed \"rsensleak\" partially, a document-sensitive information recognition tool based on Rust, which analyses documents and identifies sensitive information such as passwords, key tokens, and private information.") }}
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="section section-projects">
            <h2 class="title">{{ _("Academic Projects") }}</h2>
            <div class="set">
                <div class="item">
                    <h3><span
                            class="special-title l">{{ _("Light pollution assessment and prediction (COMAP Interdisciplinary Contest in Modelling (ICM))") }}</span>
                        <span class="date r">{{ _("Feb, 2023") }}</span>
                    </h3>
                    <div class="clear"></div>
                    <span class="position_title l">{{ _("Programmer") }}</span>
                    <div class="info">
                        <div style="visibility: hidden;  position: absolute; top: 0px; height: 1px; width: auto; padding: 0px; border: 0px; margin: 0px; text-align: left; text-indent: 0px; text-transform: none; line-height: normal; letter-spacing: normal; word-spacing: normal;">
                            <div></div>
                        </div>
                        <div style="display: none;"></div>
                        <div style="visibility: hidden;  position: absolute; top: 0px; height: 1px; width: auto; padding: 0px; border: 0px; margin: 0px; text-align: left; text-indent: 0px; text-transform: none; line-height: normal; letter-spacing: normal; word-spacing: normal;">
                            <div></div>
                        </div>
                        <div style="display: none;"></div>
                        <ul>
                            <li>
                                <div>{{ _("Developing a light pollution level evaluation system, utilising data related to social development, industrial levels, and ecological conditions as evaluation variables.&nbsp;") }}
                                </div>
                            </li>
                            <li>
                                <div>{{ _("Collecting, cleaning and mining historical data in eight different eastern and western United States regions, and the data extracted from satellite remote sensing maps and GIS information as criteria for current light pollution levels. Fitting them to conduct the evaluation index parameters.&nbsp;") }}
                                </div>
                            </li>
                            <li>
                                <div>{{ _("Using both subjective and objective evaluation methods, including individual evaluations using DEMATEL and network analysis (ANP). And using multiple regression analysis for accurate testing and assessment.") }}
                                </div>
                            </li>
                        </ul>
                        <div style="display: none;"></div>
                        <div style="position: absolute; width: 0px; height: 0px;  padding: 0px; border: 0px; margin: 0px;">
                            <div style="position: absolute; visibility: hidden; top: 0px; left: 0px; width: auto; padding: 0px; border: 0px; margin: 0px; white-space: nowrap; text-align: left; text-indent: 0px; text-transform: none; line-height: normal; letter-spacing: normal; word-spacing: normal; font-size: 40px; font-weight: normal; font-style: normal;"></div>
                        </div>
                        <div style="position: absolute; width: 0px; height: 0px;  padding: 0px; border: 0px; margin: 0px;">
                            <div style="position: absolute; visibility: hidden; top: 0px; left: 0px; width: auto; padding: 0px; border: 0px; margin: 0px; white-space: nowrap; text-align: left; text-indent: 0px; text-transform: none; line-height: normal; letter-spacing: normal; word-spacing: normal; font-size: 40px; font-weight: normal; font-style: normal;"></div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>

                <div class="item">
                    <h3><span class="special-title l">{{ _("Time Series Based Climate Prediction and Attribution Analysis (APMCM Mathematical Modeling Contest)")}}</span>
                        <span class="date r">{{ _("Dec, 2022") }}</span>
                    </h3>
                    <div class="clear"></div>
                    <span class="position_title l">{{ _("Programmer") }}</span>
                    <div class="info">
                        <div style="visibility: hidden;  position: absolute; top: 0px; height: 1px; width: auto; padding: 0px; border: 0px; margin: 0px; text-align: left; text-indent: 0px; text-transform: none; line-height: normal; letter-spacing: normal; word-spacing: normal;">
                            <div></div>
                        </div>
                        <div style="display: none;"></div>
                        <div style="visibility: hidden;  position: absolute; top: 0px; height: 1px; width: auto; padding: 0px; border: 0px; margin: 0px; text-align: left; text-indent: 0px; text-transform: none; line-height: normal; letter-spacing: normal; word-spacing: normal;">
                            <div></div>
                        </div>
                        <div style="display: none;"></div>
                        <ul>
                            <li>
                                <div>{{ _("Built ARIMA and XGboost model to predict global temperature rise, found temperature will reach 20°C in 2048.&nbsp;") }}
                                </div>
                            </li>
                            <li>
                                <div>{{ _("Conducted hypothesis testing and got a 97.6872&percnt; probability to reject the assumption of no abnormal rise in March 2022 due to the potential effect of the global epidemic.&nbsp;") }}
                                </div>
                            </li>
                            <li>
                                <div>{{ _("Used PC algorithm and DTW to attribute temperature change to human activities dominating natural factors.") }}
                                </div>
                            </li>
                        </ul>
                        <div style="position: absolute; width: 0px; height: 0px;  padding: 0px; border: 0px; margin: 0px;">
                            <div style="position: absolute; visibility: hidden; top: 0px; left: 0px; width: auto; padding: 0px; border: 0px; margin: 0px; white-space: nowrap; text-align: left; text-indent: 0px; text-transform: none; line-height: normal; letter-spacing: normal; word-spacing: normal; font-size: 40px; font-weight: normal; font-style: normal;"></div>
                        </div>
                        <div style="position: absolute; width: 0px; height: 0px;  padding: 0px; border: 0px; margin: 0px;">
                            <div style="position: absolute; visibility: hidden; top: 0px; left: 0px; width: auto; padding: 0px; border: 0px; margin: 0px; white-space: nowrap; text-align: left; text-indent: 0px; text-transform: none; line-height: normal; letter-spacing: normal; word-spacing: normal; font-size: 40px; font-weight: normal; font-style: normal;"></div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>

                <div class="item">
                    <h3><span class="special-title l">{{ _("Signal base station siting problem (MathorCup Mathematical Modeling Program)")}}</span>
                        <span class="date r">{{ _("Apr, 2022") }}</span>
                    </h3>
                    <div class="clear"></div>
                    <span class="position_title l">{{ _("Programmer") }}</span>
                    <div class="info">
                        <div style="visibility: hidden;  position: absolute; top: 0px; height: 1px; width: auto; padding: 0px; border: 0px; margin: 0px; text-align: left; text-indent: 0px; text-transform: none; line-height: normal; letter-spacing: normal; word-spacing: normal;">
                            <div></div>
                        </div>
                        <div style="display: none;"></div>
                        <div style="display: none;"></div>
                        <ul>
                            <li>
                                <div>{{ _("Implemented a particle swarm optimization model with additional coordinates as guide terms for central base station planning using K-Means clustering and incorporated coordinates based on greedy thinking for branch base station planning. I enhanced signal base station optimization by partitioning map outliers.&nbsp;") }}
                                </div>
                            </li>
                            <li>
                                <div>{{ _("Refined base station coverage boundary into three principal directions, calculating coverage using an approximation of a circle of equal area. The line connecting the base station centre and the circle determined the main direction of signal emission.&nbsp;") }}
                                </div>
                            </li>
                            <li>
                                <div>{{ _("The improved PSO demonstrated faster convergence and higher accuracy, with final model parameters extracted with an error of less than 2&percnt;, outperforming the traditional BOKM algorithm.") }}
                                </div>
                            </li>
                        </ul>
                        <div style="position: absolute; width: 0px; height: 0px;  padding: 0px; border: 0px; margin: 0px;">
                            <div style="position: absolute; visibility: hidden; top: 0px; left: 0px; width: auto; padding: 0px; border: 0px; margin: 0px; white-space: nowrap; text-align: left; text-indent: 0px; text-transform: none; line-height: normal; letter-spacing: normal; word-spacing: normal; font-size: 40px; font-weight: normal; font-style: normal;"></div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>

                <div class="item">
                    <h3><span
                            class="special-title l">{{ _("Speech-Recognition-Based Mechanical System for Lift Control")}}</span>
                        <span class="date r">{{ _("Apr, 2021") }} &mdash; {{ _("Jun, 2021") }}</span>
                    </h3>
                    <div class="clear"></div>
                    <span class="position_title l">{{ _("Software Developer and Tester")}}</span>
                    <div class="info">
                        <div style="visibility: hidden;  position: absolute; top: 0px; height: 1px; width: auto; padding: 0px; border: 0px; margin: 0px; text-align: left; text-indent: 0px; text-transform: none; line-height: normal; letter-spacing: normal; word-spacing: normal;">
                            <div></div>
                        </div>
                        <ul>
                            <li>
                                <div>{{ _("Developed a Raspberry Pi-based lift control mechanism, utilizing stepper motors, magnetic switches, and Huawei\'s voice recognition API for contactless operations during pandemics.&nbsp;") }}
                                </div>
                            </li>
                            <li>
                                <div>{{ _("This Python-controlled innovation secured the second prize at the 10th Shanghai City University Students Mechanical Engineering Innovation Contest.") }}
                                </div>
                            </li>
                        </ul>
                        <div style="position: absolute; width: 0px; height: 0px;  padding: 0px; border: 0px; margin: 0px;">
                            <div style="position: absolute; visibility: hidden; top: 0px; left: 0px; width: auto; padding: 0px; border: 0px; margin: 0px; white-space: nowrap; text-align: left; text-indent: 0px; text-transform: none; line-height: normal; letter-spacing: normal; word-spacing: normal; font-size: 40px; font-weight: normal; font-style: normal;"></div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="section section-qualifications">
            <h2 class="title">{{ _("Reward and Certifications") }}</h2>
            <div class="set">
                <div class="item">
                <span class="info"><ul>
                    <li><span>{{ _("Huawei \"Intelligence Base\" Outstanding Student Scholarship (Level B, selection rate 1&percnt;);") }}</span></li>
                    <li><span>{{ _("The Shanghai College Information Technology Level Examination in Big Data and Cloud Computing, Level 4 (Mar, 2023, Highest Level);") }}</span></li>
                    <li><span>{{ _("The Shanghai College Information Technology Level Examination in C Programming and Application, Level 3 (Jan, 2022, Highest Level);") }}</span></li>
                    <li><span>{{ _("Successful Participant in COMAP Interdisciplinary Contest in Modelling (ICM) (Jun, 2021);") }}</span></li>
                    <li><span>{{ _("Successful Participant in Asia and Pacific Mathematical Contest in Modeling (Feb, 2023);") }}</span></li>
                    <li><span>{{ _("Third Prize of the 12th National E-Commerce \"Innovation, Creativity and Entrepreneurship\" Challenge Contest (Jun, 2022);") }}</span></li>
                    <li><span>{{ _("The Second Prize in 10th University Students Mechanical Engineering Innovation Contest, Shanghai (Nov, 2022).") }}</span></li>
                </ul></span>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="section section-projects">
            <h2 class="title">{{ _("EXTRACURRICULAR ACTIVITIES") }}</h2>
            <div class="set">
                <div class="item">
                    <h3><span
                            class="special-title l">{{ _("School Publicity and Media Sector of Youth League Committee, East China University of Science and Technology") }}</span>
                        <span class="date r">{{ _("Sept, 2020") }} &mdash; {{ _("Aug, 2022") }}</span>
                    </h3>
                    <div class="clear"></div>
                    <span class="position_title l">{{ _("Head of Department") }}</span>
                    <div class="info">
                        <div style="visibility: hidden;  position: absolute; top: 0px; height: 1px; width: auto; padding: 0px; border: 0px; margin: 0px; text-align: left; text-indent: 0px; text-transform: none; line-height: normal; letter-spacing: normal; word-spacing: normal;">
                            <div></div>
                        </div>
                        <div style="display: none;"></div>
                        <div style="visibility: hidden;  position: absolute; top: 0px; height: 1px; width: auto; padding: 0px; border: 0px; margin: 0px; text-align: left; text-indent: 0px; text-transform: none; line-height: normal; letter-spacing: normal; word-spacing: normal;">
                            <div></div>
                        </div>
                        <div style="display: none;"></div>
                        <ul>
                            <li>
                                <div>{{ _("Coordinated the day-to-day work of a 20-member working group. Ran the operation of the college's WeChat official account, \"Huali Xinyuan\", which has 7,000+ active users and has been awarded \"4-star member media\" by the Shanghai University Media Union for two consecutive years (2020 and 2021);") }}
                                </div>
                            </li>
                            <li>
                                <div>{{ _("Organised college-wide freshers\' icebreakers with over 300 participants. Held two \"Geek Festivals\" in which we joined forces with other colleges and companies, such as Dell and Huawei, and promoted information technology interestingly and diversely, engaging people in creativity and hands-on work.") }}
                                </div>
                            </li>
                        </ul>
                        <div style="display: none;"></div>
                        <div style="position: absolute; width: 0px; height: 0px;  padding: 0px; border: 0px; margin: 0px;">
                            <div style="position: absolute; visibility: hidden; top: 0px; left: 0px; width: auto; padding: 0px; border: 0px; margin: 0px; white-space: nowrap; text-align: left; text-indent: 0px; text-transform: none; line-height: normal; letter-spacing: normal; word-spacing: normal; font-size: 40px; font-weight: normal; font-style: normal;"></div>
                        </div>
                        <div style="position: absolute; width: 0px; height: 0px;  padding: 0px; border: 0px; margin: 0px;">
                            <div style="position: absolute; visibility: hidden; top: 0px; left: 0px; width: auto; padding: 0px; border: 0px; margin: 0px; white-space: nowrap; text-align: left; text-indent: 0px; text-transform: none; line-height: normal; letter-spacing: normal; word-spacing: normal; font-size: 40px; font-weight: normal; font-style: normal;"></div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>

            </div>
            <div class="clear"></div>
        </div>
        <div class="section section-qualifications">
            <h2 class="title">{{ _("LANGUAGE AND SKILLS") }}</h2>
            <div class="set">
                <div class="item">
                <span class="info"><ul>
                    <li><span>{{ _("Native in Mandarin; fluent in Cantonese;") }}</span></li>
                    <li><span>{{ _("Proficient in English (IELTS 6.5, CET-6 583), Beginner in French;") }}</span></li>
                    <li><span>{{ _("AHA Heartsaver Basic Life Support and CPR Certificate, American Heart Association, 2022;") }}</span></li>
                    <li><span>{{ _("Proficient in Microsoft Office, SPSS, Origin, MATLAB, and other office software;") }}</span></li>
                    <li><span>{{ _("Programming Tool: Linux, C/C++, Python, Rust, SQL, HTML, CSS, SCSS, JavaScript, \LaTeX, Markdown;") }}</span></li>
                    <li><span>{{ _("Development Tool: Git, Docker, Kubernetes, OpenAPI, Postman, Swagger;") }}</span></li>
                    <li><span>{{ _("Development Framework: Flask, Django, Bootstrap, jQuery, Node.js.") }}</span></li>
                </ul></span>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <style>
        .save_tag {
            position: relative;
            top: 0;
            left: 50%;
            font-family: "HarmonyOS", serif;
        }

        @media only screen and (max-width: 480px) {
            .save_tag {
                position: relative;
                top: 0;
                left: 30%;
            }
        }

        @media only screen and (max-width: 360px) {
            .save_tag {
                position: relative;
                top: 0;
                left: 20%;
            }
        }

        .cv {
            background: #f0f0f0;
            margin: 0;
            padding: 0 100px;
            font-family: Georgia, serif, 'Trebuchet MS';
            line-height: 20px;
            font-size: 12px;
            color: #222;
        }

        @media only screen and (max-width: 960px) {
            .cv {
                padding: 0 20px;
            }
        }

        @media only screen and (max-width: 768px) {
            .cv {
                padding: 0 0px;
            }
        }


        h1, h2, h3, h4 {
            margin: 0 0 15px 0;
            padding: 0;
        }

        h1 {
            font-size: 400%;
        }

        h2 {
            font-size: 210%;
        }

        h3 {
            font-size: 130%;
        }

        p {
            margin: 0 0 10px 0;
        }

        ul {
            /*move bullet more left*/
            margin-left: -15px;
            margin-right: 0px;
            /*justify the text*/
            text-align: justify;
            /*border: 3px solid #ccc;*/
            list-style-type: circle;
        }

        li {
            margin-bottom: 5px;
        }

        a {
            color: #222;
        }

        /* ________________________________________________________ */
        .rtl {
            direction: rtl;
        }

        .clear {
            clear: both;
        }

        #main {
            background: #fff;
            width: 900px;
            padding: 35px;
            margin: 0 auto 15px auto;
            box-shadow: 0 0 6px #ccc;
        }

        #title {
            line-height: 42px;
            margin: 0 0 15px 0;
            font-weight: normal;
            text-align: center;
        }

        #credit {
            margin-bottom: 20px;
            font-size: 11px;
            color: #999;
            text-align: center;
        }

        #credit a {
            color: #999;
        }

        p label {
            font-weight: bold;

            font-size: 110%;
            margin-right: 10px;
        }

        p label span.colon {
            display: inline;
        }


        .section {
            margin-bottom: 30px;
        }

        .item {
            margin: 0 0 20px 0;
            padding: 0 2ch 0 2ch;
        }

        /*  _____________________________ */
        .basic-info {
            margin: 0 auto 30px auto;
            width: 80%;
            text-align: center;
        }

        .basic-info p {
            margin: 0;
        }

        .basic-info .dot {
            display: inline;
            font-size: 14px;
            margin: 0 10px;
        }

        .section .title {
            text-transform: uppercase;
            font-size: 150%;
            text-align: center;
            border-bottom: 1px solid #ccc;
            padding-bottom: 10px;
        }

        .section .set h3 {
            margin: 0;
        }

        .section span.value {
            display: block;
        }

        .section h3 span.l {
            width: 74%;
            float: left;
        }

        .section span.r {
            width: 26%;
            float: right;
            text-align: right;
        }

        div.info, span.info {
            margin-left: auto;
            margin-right: auto;
            text-align: justify;
            font-size: 10pt;
        }

        .section-education .school,
        .section-work .job_title,
        .section-qualifications .position_title {
            font-size: 120%;
            display: block;
            margin: 0px 0 0px 0;
            font-style: italic;
        }

        .position_title {
            font-size: 120%;
            display: block;
            margin: 0px 0 0px 0;
            font-style: italic;
        }

        /* ___ photo ___ */
        #photo {
            width: 160px;
            height: 200px;
            float: left;
            margin-top: 8px;
            border-radius: 4px;
        }

        #photo img {
            width: 100%;
            height: auto;
        }

        .header.photo {
            margin-left: 190px;
        }

        .header.photo #title {
            text-align: left;
        }

        .header.photo .basic-info {
            float: none;
            padding: 0;
            width: auto;
            text-align: left;
        }

        @media screen and (max-width: 950px) {
            #main {
                box-shadow: none;
                padding: 0;
                padding: 5px;
            }
        }
    </style>
{% endblock %}
