{% extends "base.html" %}
{% block content %}
    <div class="row p-0">
        {% for repo in repos %}
            <div class="repo-card col-12 col-md-6 col-xl-4">
                <div class="m-2 p-2 border border-1">
                    <div class="repo-name">
                        <a href="{{ repo.html_url }}" target="_blank">{{ repo.name }}</a>
                    </div>
                    <div class="repo-description mt-2" align="justify">{{ _("ABOUT: ")}}{{ repo.description }}</div>
                    {% if repo["language"] %}
                        <div class="repo-language mt-2 mx-2">{{ _("Powered by: ") }}
                            <div class="progress mb-3" style="height: 8px;">
                                {% for lang in repo["language"] %}
                                    <div class="progress-bar text-dark"
                                         style="width: {{ repo["language"][lang]['percentage'] }}%; background-color: {{ repo["language"][lang]['color'] }};"
                                         role="progressbar" aria-valuenow="{{ repo["language"][lang]['percentage'] }}"
                                         aria-valuemin="0" aria-valuemax="100"></div>
                                {% endfor %}
                            </div>
                        </div>
                        <ul class="m-auto px-2">
                            {% for lang in repo["language"] %}
                                <li class="d-inline">
                                    <i class="fa-solid fa-circle"
                                       style="color: {{ repo["language"][lang]['color'] }};"></i>
                                    <span class="text-bold mr-1">{{ lang }}
                                    <span>{{ repo["language"][lang]['percentage'] }}</span></span>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
    <style>
        .repo-name {
            font-weight: bold;
            font-size: 18px;
        }

        .repo-language {
            color: #586069;
        }
    </style>
{% endblock %}
