{% extends 'base.html' %}

{% block content %}
<div class="container my-5",style="width=max(576px,60vw)">
    <h1 class="text-center">Contact Us</h1>
    <form method="POST" action="{{ url_for('email.contact') }}">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.name.label }}
            {{ form.name(class="form-control",id="name",placeholder="Enter your name") }}
            {{ form.email.label }}
            {{ form.email(class="form-control",id="email",placeholder="Enter your email") }}
            {{ form.message.label }}
            {{ form.message(class="form-control",id="message",rows="3") }}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}
