{% extends 'base.html' %}

{% block content %}
<!-- Brief Introduction -->
<div class="container my-5">

    <div class="Typewriter" data-testid="typewriter-wrapper">
        <span class="Typewriter__wrapper"></span>
        <span class="Typewriter__cursor">|</span>
    </div>

    <h1 class="text-center">Ziyi LIU</h1>
    <p class="text-center">Web Developer, Data Analyst and AI Explorer. Currently pursuing a B.Eng. in Shanghai, China
        at ECUST.</p>
    <div class="highlight">
        <pre><code>{{ code|safe }}</code></pre>
    </div>
</div>
<script>
    let i = 0;
    const txt_en = "Hi, welcome to Liu, Ziyi's "; /* The text */
    const speed = 50; /* The speed/duration of the effect in milliseconds */

    function typeWriter() {
        if (i < txt_en.length) {
            document.getElementsByClassName("Typewriter__wrapper").innerHTML += txt_en.charAt(i);
            i++;
            setTimeout(typeWriter, speed);
        }
        if (i > 0) {
            document.getElementsByClassName("Typewriter__wrapper").innerHTML -= txt_en.charAt(i);
            i--;
            setTimeout(typeWriter, speed);
        }
    }
</script>
{% endblock %}