<!DOCTYPE html>
<!---->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Coming Soon</title>
    <!--IE 兼容模式-->
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- External CSS & JS Files-->
    <link type="text/css" rel="stylesheet" href="/static/css/font-awesome.css">
    <link type="text/css" rel="stylesheet" href="/static/scss/lzyatshcn.css">
    <script src="/static/js/bootstrap.bundle.min.js"></script>
</head>
<body class="d-flex bg-secondary bg-gradient vh-100">
<main class="container-fluid">
    <div class="flex-nowrap row row-cols-sm-2 h-100 ps-xl-5">
        <div class="col-1 align-content-center border-dis border-1 border-danger"
             style="display: flex;width: min(4%,10px);flex-direction: column;justify-content: flex-end;">
            <div class="text-nowrap text-dark"
                 style="font-size: 12px;letter-spacing: 1.2px; transform: rotate(-90deg);">
                &copy;/
                <script>document.write(String(new Date().getFullYear()))</script>
                &nbsp;designed by&nbsp;
                <a class="text-dark text-decoration-underline" href="mailto:lzy_ecust@outlook.com">
                    lzy_ecust@Outlook.com
                </a>&nbsp;&nbsp;
                <a class="text-dark text-decoration-underline" href="//github.com/lavandejoey">GH</a>&nbsp;&nbsp;
                <a class="text-dark text-decoration-underline" href="#">TW</a>&nbsp;&nbsp;
                <a class="text-dark text-decoration-underline" href="#">DR</a>&nbsp;&nbsp;
            </div>
            <div class="container bg-dark p-0 mt-4" style="height: 20vh;width: 2px"></div>
        </div>
        <div class="col ps-5 pe-5 align-items-center justify-content-center  border-1 border-danger"
             style="display:flex;width: 95%;">
            <div class="row row-cols-1 align-items-end justify-content-md-start  border-info">
                <div class="col h-auto w-auto ms-xl-5 pb-5 pb-md-0 border-dis border-2 border-success">

                    <div class="container-fluid ps-4 border-dis">
                        <h1 class="row">Ziyi Liu</h1><br>
                        <p class="row">Web Developer, Data Analyst and AI Explorer<br></p>
                        <div class="row">
                            <p class="p-0"> Currently pursuing a B.Eng. in Shanghai, China at
                                <a class="text-black" href="https://www.ecust.edu.cn/" target="_blank">ECUST.</a>
                            </p>
                        </div>
                    </div>

                </div>
                <div class="col h-auto w-auto ms-xl-5 border-dis border-2 border-success">
                    <div class="container-fluid border-dis" style="flex-direction: column;justify-content: center;">
                        <a href="/blog" class="nav-link">Blog</a>
                        <a href="/work" class="nav-link">Work</a>
                        <a href="/about" class="nav-link">About</a>
                        <a href="/contact" class="nav-link">Contact</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</main>
</body>
<!--Internal CSS-->
<style>
    @font-face {
        font-family: 'Dancing Script';/*字体名称*/
        src: url('../static/font/DancingScript-VariableFont_wght.ttf'); /*字体源文件*/
    }

    .nav-link {
        font-family: "Dancing Script", monospace;
        font-size: 15vmin;
        letter-spacing: 1vw;
        line-height: 1.1em;
        transform: translate(0px, 0%) skewX(0deg);
        transition: transform 500ms ease-in-out;
    }

    .nav-link:hover {
        transform: translate(15px, 0%) skewX(-10deg);
        transition: transform 200ms ease-out;
    }
</style>
</html>