<!DOCTYPE html>
<!---->
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="shortcut icon" href="../../static/image/logo-pic.png"/>
    <!--SEO-->
    <meta name="google-site-verification" content="E1oXCV_ANCQB2muNUGwjvj5K2ujmRwxgBEFkymx7k8w"/>
    <!--IE 兼容模式-->
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- External CSS & JS Files-->
    <link type="text/css" rel="stylesheet" href="../../static/css/font-awesome.css">
    <link type="text/css" rel="stylesheet" href="../../static/scss/lzyatshcn.css">
    <link type="text/css" rel="stylesheet" href="../../static/css/code_span.css">
</head>
<body class="d-flex bg-secondary bg-gradient vh-100">
<header class="container-md container-fluid fixed-top p-1 pt-4">
    <nav class="navbar navbar-expand-lg navbar-dark" style="background: rgba(43,43,43,0.95);border-radius: 15px">
        <div class="container">
            <div class="navbar-collapse collapse" id="headerNavbar" style="">
                <div class="container">
                    <div class="row h-auto w-100">
                        <ul class="navbar-nav d-flex justify-content-evenly px-xl-0 px-5 ps-md-auto text-muted"
                            style="padding-left: 4ch;font-size: 20px">
                            <li class="nav-item mx-0 mx-xl-1" style="min-width: 15%">
                                <a class="nav-link text-center active" aria-current="page" href="/">
                                    <code class="func-name">About Me</code><code class="var"><span
                                        class="hover-typewriter {% if active_link != 'contact' %}visually-hidden{% endif %}">(name="Liu, Ziyi")</span></code><span
                                        class="hover-blink-caret"></span>
                                </a>
                            </li>
                            <li class="nav-item mx-0 mx-xl-1" style="min-width: 15%">
                                <a class="nav-link text-center" aria-current="page" href="/">
                                    <code class="func-name">Contact Me</code><code class="var"><span
                                        class="hover-typewriter {% if active_link != 'contact' %}visually-hidden{% endif %}">(email="lzy_ecust@outlook.com")</span></code><span
                                        class="hover-blink-caret"></span>
                                </a>
                            </li>
                            <li class="nav-item mx-0 mx-xl-1" style="min-width: 15%">
                                <a class="nav-link text-center" aria-current="page" href="/">
                                    <code class="func-name">Blogs</code><code class="var"><span
                                        class="hover-typewriter {% if active_link != 'blogs' %}visually-hidden{% endif %}">(name="Liu, Ziyi")</span></code><span
                                        class="hover-blink-caret"></span>
                                </a>
                            </li>
                            <li class="nav-item mx-0 mx-xl-1" style="min-width: 15%">
                                <a class="nav-link text-center" aria-current="page" href="/">
                                    <code class="func-name">Blogs</code><code class="var"><span
                                        class="hover-typewriter {% if active_link != 'blogs' %}visually-hidden{% endif %}">(name="Liu, Ziyi")</span></code><span
                                        class="hover-blink-caret"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <button class="navbar-toggler collapsed align-self-center mx-auto my-1" type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#headerNavbar" aria-controls="headerNavbar"
                    aria-expanded="false" aria-label="Toggle navigation" style="border-radius: 50px">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
</header>
<main class="container position-relative h-100 border border-danger mt-5 pt-5">
    <div class="mb-5"></div>
    <div class="container">Hi There, My Name is</div>
    <!--The brief introduction with name letters and sentences-->
    <div class="container">
        <div class="row-cols-3 name-title">
            <span class="col border">Liu, </span><span class="col border">Zi</span><span class="col border">yi</span>
            <style>.name-title {
                font-weight: bolder;
                font-size: 15vmin;
            }</style>
        </div>

    </div>


    <div class="container">
        <div class="container">
            <div class="container">
                <span class="">Liu,</span>
            </div>
            <div class="container">
                <span class="visually-hidden">L</span>
                <p class="visually-hidden">Lapidary in chipping away at new ideas and concepts, honing my skills and
                    refining my knowledge for each step.</p>
            </div>
        </div>
        <div class="container">
            <div class="container">
                <span class="">Zi</span>
            </div>
            <div class="container">
                <span class="visually-hidden">Z</span>
                <p class="visually-hidden">Zealous to be detail-oriented to approach every subject and project with an
                    elegant and efficient solution.</p>
            </div>
        </div>
        <div class="container">
            <div class="container">
                <span class="">yi</span>
            </div>
            <div class="container">
                <span class="visually-hidden">Y</span>
                <p class="visually-hidden">Yearning to convey my fondness for engineering with the approaches in art and
                    aesthetics, design and build innovative wonders that inspire and delight.</p>
            </div>
        </div>
    </div>
</main>
<style>
    header {
        transition: all 0.5s ease-in-out;
    }
</style>
<script type="module" src="../../static/js/lzyatshcn.js"></script>
<script src="../../static/js/bootstrap.bundle.js"></script>
</body>
</html>