<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animation Demo</title>
    <link rel="stylesheet" href="../../static/css/tmp.css">
</head>
<body>
<div class="container">
    <div class="text" id="text-1">
        <span class="top_txt">Liu</span>
        <span class="detail_txt">Lapidary in chipping away at new ideas and concepts,
honing my skills and refining my knowledge for each step.</span>
    </div>
    <div class="text" id="text-2">
        <span class="top_txt">Zi</span>
        <span class="detail_txt">Zealous to be detail-oriented to approach every subject
and project with an elegant and efficient solution.</span>
    </div>
    <div class="text" id="text-3">
        <span class="top_txt">yi</span>
        <span class="detail_txt">Yearning to convey my fondness for engineering with the approaches in
art and aesthetics, design and build innovative wonders that inspire and delight.</span>
    </div>
</div>
<script src="../../static/js/lzyatshcn.js"></script>
</body>
</html>