code.level {
    color: #944a2c;
}
code.level-name{
    color: #b1bbc5;
}
code.func-name{
    color: #ffab4c
}
code.deco{
    color: #b9af29
}
code.type{
    color: #634e6c
}
code.str{
    color: #698651
}
code.var{
    color: #A9B7C6FF;
}
