{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2 class="mt-3">{{ _("Sign Up") }}</h2>
                {% if user_exists %}
                    <div id="flash-message" class="alert alert-danger">
                        {{ _("User already exists. Try a different one or ") }}<a
                            href="{{ url_for('auth.login_page') }}">{{ _("login") }}</a>.
                    </div>
                {% else %}
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            <div id="flash-message" class="messages">
                                {% for category, message in messages %}
                                    <div class="alert alert-{{ category }}">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endwith %}
                {% endif %}
                <form method="POST" class="row g-3 needs-validation" novalidate>
                    {{ form.hidden_tag() }}
                    <div class="form-group mt-3">
                        <div class="form-floating ">
                            {{ form.username(class="form-control", placeholder=_("Username: "), id="username") }}
                            <label for="username">{{ _("Username: ") }}</label>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <div class="form-floating">
                            {{ form.password(class="form-control", placeholder=_("Password: "), id="password") }}
                            <label for="password">{{ _("Password: ") }}</label>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <div class="form-floating">
                            {{ form.confirm_password(class="form-control", placeholder=_("Confirm Password: "), id="confirm_password") }}
                            <label for="confirm_password">{{ _("Confirm Password: ") }}</label>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <div class="form-floating">
                            {{ form.email(class="form-control", placeholder=_("Email: "), id="email") }}
                            <label for="email">{{ _("Email: ") }}</label>
                        </div>
                    </div>
                    {{ form.submit(class="btn btn-primary mt-3", value=_("Sign Up")) }}
                </form>
                <p class="mt-3">{{ _("Already have an account? ") }}<a
                        href="{{ url_for('auth.login_page') }}">{{ _("Log in here") }}</a></p>
            </div>
        </div>
    </div>
{% endblock %}
