{% extends "base.html" %}
{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card text-center bg-danger bg-opacity-75 text-white">
                    <div class="card-header">
                        <h2><strong>{{ _("Error") }}</strong></h2>
                    </div>
                    <div class="card-body">
                        <p><strong>{{ _("Sorry, something went wrong. Please check the URL or try again later.")}}</strong></p>
                        <a href="javascript:window.history.back();" class="btn btn-primary mt-3">Go Back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        // Set a timeout to trigger the "Go Back" action after 5 seconds
        setTimeout(function () {
            window.history.back();
        }, 5000);
    </script>
{% endblock %}
