// lzyatshcn.scss
//@import "./bootstrap/scss/bootstrap";
/**
// scss-docs-start gray-color-variables custom
$white: #F7F0EA !global; //#fff !global;
$gray-100: #e4c3a2 !global; //#dfd8d2 !global;
$gray-200: #ceb993 !global; //#c7c0bb !global;
$gray-300: #b9a685 !global; //#afa9a4 !global;
$gray-400: #a59478 !global; //#99938e !global;
$gray-500: #90836a !global; //#827d78 !global;
$gray-600: #7d715d !global; //#6d6763 !global;
$gray-700: #6a6050 !global; //#58534f !global;
$gray-800: #575044 !global; //#443f3c !global;
$gray-900: #454038 !global; //#312d29 !global;
$black: #1F1B18 !global; //#000 !default;
// scss-docs-end gray-color-variables custom
// scss-docs-start color-variables custom
$blue: #576ee7 !global; //#0d6efd !default;
$indigo: #9a7db9 !global; //#6610f2 !default;
$purple: #b37db9 !global; //#6f42c1 !default;
$pink: #d6748d !global; //#d63384 !default;
$red: #d5726c !global; //#dc3545 !default;
$orange: #e18f4b !global; //#fd7e14 !default;
$yellow: #e7c251 !global; //#ffc107 !default;
$green: #709c5e !global; //#198754 !default;
$teal: #629e7a !global; //#20c997 !default;
$cyan: #7fbcc9 !global; //#0dcaf0 !default;
// scss-docs-end color-variables custom
// scss-docs-start theme-color-variables
$primary: #d99147 !global;
$secondary: #d99147 !global;
$success: $green !global;
$info: $cyan !global;
$warning: $yellow !global;
$danger: $red !global;
$light: $gray-100 !global;
$dark: $gray-900 !global;
// scss-docs-end theme-color-variables
*/
/*global styling by enabling or disabling optional features*/
/*
$enable-shadows: true !global;
$link-color: #76591f !default;
$code-color: $pink !default; //todo! I'm not sure about its colour
*/
:root {
  --bs-body-text-align: left;
}

.navbar-nav {
  --bs-nav-link-font-size: 1.25em;
}

.breadcrumb {
  --bs-breadcrumb-bg: none;
  --bs-breadcrumb-border-radius: none;
}

.btn {
  --bs-btn-font-family: none;
}

$grid-breakpoints: (
        xs: 0,
        sm: 300px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1400px
);
@import "bootstrap/scss/bootstrap";


#colors {
  --bg-light: #F7F0EA;
  --font-active-light: #211d11;
  --font-inactive-light: #4e4741;
  --icon-active-light1: #FADFB0;
  --icon-inactive-light1: #FDF8F2;
  --icon-active-light2: #76591f;
  --icon-inactive-light2: #706a5e;
  --icon-active-light3: #fadfb0;
  --icon-inactive-light3: #b3a99d;

  --bg-dark: #1F1B18;
  --font-active-dark: #4a3c2e;
  --font-inactive-dark: #f3efec;
  --icon-active-dark1: #f3e0c0;
  --icon-inactive-dark1: #34312c;
  --icon-active-dark2: #86785d;
  --icon-inactive-dark2: #4a4740;
  --icon-active-dark3: #fadfb0;
  --icon-inactive-dark3: #968f87;
}