// lzyatshcn.scss
// scss-docs-start gray-color-variables custom
$white: #dfe5e8 !global; //#ede3e4 #fff
$gray-100: #c7d0d5 !global; //#e0d7d9 #dfd8d2
$gray-200: #b0bbc3 !global; //#c9c1c3 #c7c0bb
$gray-300: #9aa7b1 !global; //#b4adb0 #afa9a4
$gray-400: #727c88 !global; //#aba4a8 #99938e
$gray-500: #4e5460 !global; //#8d898c #827d78
$gray-600: #2c2f3b !global; //#686568 #6d6763
$gray-700: #282832 !global; //#423f42 #58534f
$gray-800: #24222a !global; //#2e2d31 #443f3c
$gray-900: #1f1c22 !global; //#1b1b1c #312d29
$black: #19171a !global; //#0d0d0e #000
// scss-docs-end gray-color-variables custom
// scss-docs-start color-variables custom
$blue: #455d8b; //#0d6efd !default;
$indigo: #a76282 !global; //#6610f2 !default;
$purple: #a59aca !global; //#6f42c1 !default;
$pink: #d6748d !global; //#d63384 !default;
$red: #983928 !global; //#dc3545 !default;
$orange: #ed7821 !global; //#fd7e14 !default;
$yellow: #f2de76 !global; //#ffc107 !default;
$green: #608f68 !global; //#198754 !default;
$teal: #778a77 !global; //#20c997 !default;
$cyan: #b6d7c8 !global; //#0dcaf0 !default;
// scss-docs-end color-variables custom
// scss-docs-start theme-color-variables
$primary: #b15a43 !global;
$secondary: #f8c6b5 !global;
$tertiary: #57648C !global;
$success: $green !global;
$info: $blue !global;
$warning: $yellow !global;
$danger: $red !global;
$light: $gray-200 !global;
$dark: $gray-900 !global;
// scss-docs-end theme-color-variables
$colors: (
        "blue": $blue,
        "indigo": $indigo,
        "purple": $purple,
        "pink": $pink,
        "red": $red,
        "orange": $orange,
        "yellow": $yellow,
        "green": $green,
        "teal": $teal,
        "cyan": $cyan,
        "white": $white,
        "gray": $gray-600,
        "gray-dark": $gray-800
) !default;
/*global styling by enabling or disabling optional features*/
$enable-shadows: true !global;
$link-color: $blue !default;
$code-color: $pink !default; //todo! I'm not sure about its colour
$breakpoints: (
        xs: 0,
        sm: 300px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1400px
);
:root {
  --bs-body-text-align: left;
}

.navbar {
  /*   z-index should be above .close-navbar-toggler */
  z-index: 2;
}

.close-navbar-toggler {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  cursor: pointer;
}

.close-navbar-toggler.collapsed {
  z-index: -1;
}

.navbar-nav {
  --bs-nav-link-font-size: 1.25em;
}

.breadcrumb {
  --bs-breadcrumb-bg: none;
  --bs-breadcrumb-border-radius: none;
}

.btn {
  --bs-btn-font-family: none;
}


body {
  min-height: 100vh;
}

header {
  border: 10px;
}

footer {
  position: relative;
  bottom: 0;
  align-self: center;
}

//
.container {
  //background: radial-gradient(160% 107.13% at 50% 10%, transparent 37.41%, #a3bce3 69.27%, #fff 100%);
  //border-radius: 2.4em;
  border: 100px color($danger);
}

/*/index
.coding-sim {
  animation: InboundRelay_blink__eP_Iu 1.5s infinite;
}

.InboundRelay_cursor__AT2tj {
  animation: InboundRelay_blink__eP_Iu 1.5s infinite;
  animation-duration: 1.5s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: InboundRelay_blink__eP_Iu;
}*/
@import "../../../node_modules/bootstrap/scss/bootstrap";
