<!DOCTYPE html>
<!---->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <!--IE 兼容模式-->
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- External CSS & JS Files-->
    <link type="text/css" rel="stylesheet" href="../static/css/font-awesome.css">
    <link type="text/css" rel="stylesheet" href="../static/scss/lzyatshcn.css">
</head>
<body class="bg-dark bg-opacity-50">
<!-- Navigation bar -->

<header class="container rounded-4 px-0 my-3">
    <nav class="navbar navbar-expand-lg navbar-light justify-content-center">
        <div class="navbar-collapse collapse" id="navbarNav" style="">
            <a class="navbar-brand position-absolute start-0 bottom-0" href="/">LZYatshcn</a>
            <ul class="navbar-nav mx-auto">
                <li class="nav-item {% if active_link == 'index' %}active{% endif %}">
                    <a class="nav-link" href="{{ url_for('main.index') }}">.Home()</a>
                </li>
                <li class="nav-item {% if active_link == 'blog' %}active{% endif %}">
                    <a class="nav-link" href="{{ url_for('main.blog') }}">.Blog()</a>
                </li>
                <li class="nav-item {% if active_link == 'work' %}active{% endif %}">
                    <a class="nav-link" href="{{ url_for('main.work') }}">.Work()</a>
                </li>
                <li class="nav-item {% if active_link == 'about' %}active{% endif %}">
                    <a class="nav-link" href="{{ url_for('main.about') }}">.About()</a>
                </li>
                <li class="nav-item {% if active_link == 'contact' %}active{% endif %}">
                    <a class="nav-link" href="{{ url_for('main.contact') }}">.Contact()</a>
                </li>
                {% if current_user.is_authenticated %}
                <li class="nav-item {% if active_link == 'profile' %}active{% endif %}">
                    <a class="nav-link"
                       href="{{ url_for('main.profile') }}">.Profile(user={{current_user.usr_name}})</a>
                </li>
                {% endif %}
                <!--li class="nav-item ">
                    <a class="nav-link" href="/admin/dashboard">Admin</a>
                </li-->
                {% if active_link == 'blog' %}
                {% if not current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.login') }}">Sign In/Sign Up</a>
                </li>
                {% endif %}
                {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
                </li>
                {% endif %}
                {% endif %}
            </ul>
            <form class="position-absolute end-0 form-inline my-2 my-lg-0">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
</header>
<!-- Main Information -->
<main class="container-fluid my-5">
    {% block content %}{% endblock %}
</main>
<!-- Footer -->
<footer class="container rounded-4 position-relative fixed-bottom bg-secondary bg-opacity-75 text-center mt-2 mb-4 pt-4 pb-2">
    <div class="container-fluid"></div>
    <p class="text-black-50">
        <a href="https://www.beian.gov.cn/portal/registerSystemInfo?recordcode=320----------"
           style="display:inline-block;text-decoration:none;height:20px;line-height:20px;" target="_blank"
           class="text-black-50">
            <img src="../static/image/badge.svg" alt="" style="display:inline-block;height:20px;line-height:20px;">
            沪公网安备 320-----------号</a>
        | <a href="https://beian.miit.gov.cn/"
             style="display:inline-block;text-decoration:none;height:20px;line-height:20px;" target="_blank"
             class="text-black-50">互联网ICP备案：沪ICP备2021022886号-1</a>
        | <a href="https://www.12377.cn/"
             style="display:inline-block;text-decoration:none;height:20px;line-height:20px;" target="_blank"
             class="text-black-50">
        <img src="//static.hdslb.com/images/12377.png" width="16" height="16" style="vertical-align: sub;" alt="">
        中国互联网违法和不良信息举报中心</a>
        | <a href="https://www.shjbzx.cn"
             style="display:inline-block;text-decoration:none;height:20px;line-height:20px;" target="_blank"
             class="text-black-50">上海互联网举报中心</a>
    </p>
    <p class="text-black-50">
        Copyright © 2021-
        <script type="text/javascript">document.write(String(new Date().getFullYear()))</script>
        2023
        LZYatshcn.top
        <a href="https://www.linkedin.com/in/%E5%AD%90%E8%89%BA-%E5%88%98-88b872179/" class="text-black">@Ziyi,LIU</a>
        All Rights Reserved.
    </p>
</footer>
<!-- External CSS & JS Files-->
<script src="../static/js/bootstrap.bundle.js"></script>
<script>
    window.onscroll = function () {
        let container = document.querySelector("body > header")
        if (window.scrollY !== 0) {
            container.classList.add("rounded-4", "my-4", "fixed-top", "bg-secondary");
            container.classList.remove("px-0", "my-3");
        } else {
            container.classList.remove("rounded-4", "my-4", "fixed-top", "bg-secondary");
            container.classList.add("px-0", "my-3");
        }
    };
</script>
<style>
    body > header {
        transition: all 500ms ease-in-out;
    }
</style>
</body>
</html>