<!DOCTYPE html>
<!--suppress JSCheckFunctionSignatures -->
<html lang="en cn" class="my-auto h-100">
<head>
    <meta charset="UTF-8">
    <title>Coming Soon</title>
    <!--IE 兼容模式-->
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- External CSS -->
    <link type="text/css" rel="stylesheet" href="/css/font-awesome.css">
    <link type="text/css" rel="stylesheet" href="../static/scss/lzyatshcn.css">
    <script src="../static/js/bootstrap.bundle.min.js"></script>
</head>
<body class="d-flex h-100 text-center text-white bg-dark">

<div class="container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
        <div>
            <h3 class="float-md-start mb-0">LZYatshcn</h3>
            <nav class="nav nav-masthead justify-content-center float-md-end">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
                <a class="nav-link disabled" href="#">AboutMe</a>
            </nav>
        </div>
    </header>

    <main class="px-3">
        <h1 lang="en">Coming Soon.</h1>
        <!--h1 lang="zh">网站建设中.</h1-->
        <p class="lead">Prenderà il primo volo / Verso il sole il grande uccello /
            Sorvolando il grande monte Ceceri / Riempendo l'universo di stupore e gloria.</p>
        <p class="lead">
            <a href="#" class="btn btn-lg fw-bold border-primary bg-primary">Learn more</a>
        </p>
    </main>

    <footer class="mt-auto">
        <p class="text-white-50">
            <img src="../static/image/beian_icon.png" alt="">
            <!--todo:网安备案信息-->
            <a href="https://www.beian.gov.cn/portal/registerSystemInfo?recordcode=320----------"
               style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"
               target="_blank" class="text-white-50">沪公网安备 320-----------号</a>
            | <a href="https://beian.miit.gov.cn/"
                 style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"
                 target="_blank" class="text-white-50">互联网ICP备案：沪ICP备2021022886号-1</a>
            | <a href="https://www.12377.cn/"
                 style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"
                 target="_blank" class="text-white-50">
            <img src="//static.hdslb.com/images/12377.png" width="16" height="16" style="vertical-align: sub;" alt="">
            中国互联网违法和不良信息举报中心</a>
            | <a href="https://www.shjbzx.cn"
                 style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"
                 target="_blank" class="text-white-50">上海互联网举报中心</a>
        </p>
        <p>
            Copyright &copy; 2021-
            <script type="text/javascript">document.write(new Date().getFullYear())</script>
            LZYatshcn.top
            <a href="https://www.linkedin.com/in/%E5%AD%90%E8%89%BA-%E5%88%98-88b872179/"
               class="text-white">@ZiyiLIU</a>
            All Rights Reserved.
        </p>
    </footer>
</div>
</body>
</html>