<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Designs' Tests</title>
</head>
<body>
<div style="width: 100vw;height: 100vh;">
    <div style="background-color: #dfe5e8;width: 50em;height: 8em"></div>
    <div style="background-color: #c7d0d5;width: 50em;height: 8em"></div>
    <div style="background-color: #b0bbc3;width: 50em;height: 8em"></div>
    <div style="background-color: #9aa7b1;width: 50em;height: 8em"></div>
    <div style="background-color: #727c88;width: 50em;height: 8em"></div>
    <div style="background-color: #4e5460;width: 50em;height: 8em"></div>
    <div style="background-color: #2c2f3b;width: 50em;height: 8em"></div>
    <div style="background-color: #282832;width: 50em;height: 8em"></div>
    <div style="background-color: #24222a;width: 50em;height: 8em"></div>
    <div style="background-color: #1f1c22;width: 50em;height: 8em"></div>
    <div style="background-color: #19171a;width: 50em;height: 8em"></div>
    <div style="background-color: #ede3e4;width: 50em;height: 8em"></div>
    <div style="background-color: #e0d7d9;width: 50em;height: 8em"></div>
    <div style="background-color: #c9c1c3;width: 50em;height: 8em"></div>
    <div style="background-color: #b4adb0;width: 50em;height: 8em"></div>
    <div style="background-color: #aba4a8;width: 50em;height: 8em"></div>
    <div style="background-color: #8d898c;width: 50em;height: 8em"></div>
    <div style="background-color: #686568;width: 50em;height: 8em"></div>
    <div style="background-color: #423f42;width: 50em;height: 8em"></div>
    <div style="background-color: #2e2d31;width: 50em;height: 8em"></div>
    <div style="background-color: #1b1b1c;width: 50em;height: 8em"></div>
    <div style="background-color: #0d0d0e;width: 50em;height: 8em"></div>

    <div style="background-color: #373A36;width: 50em;height: 8em"></div>
    <div style="background-color: #1a638a;width: 50em;height: 8em"></div>
    <div style="background-color: #c7945f;width: 50em;height: 8em"></div>
    <div style="background-color: #E6E2DD;width: 50em;height: 8em"></div>
    <div style="background-color: #b0bb91;width: 50em;height: 8em"></div>
    <div style="background-color: #f8c6b5;width: 50em;height: 8em"></div>
    <div style="background-color: #ffb3a7;width: 50em;height: 8em"></div>
    <div style="background-color: #D48166;width: 50em;height: 8em"></div>
    <div style="background-color: #b15a43;width: 50em;height: 8em"></div>
    <div style="background-color: #662b1f;width: 50em;height: 8em"></div>
</div>
</body>
</html>